<section class="create-container">
    <section class="form create-form">
        <h2>Create A New Post</h2>
        <div class="create-body">
            <div class="form-group">
                <label for="post-title">Title: </label>
                <input class="form-input" type="text" id="post-title"/>
            </div>
            <div class="form-group">
                <label for="post-content">Content: </label>
                <input class="form-input" type="text" id="post-content"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="create-btn">Create</button>
            </div>
        </div>
    </section>
</section>

<script src="/js/create.js"></script>