/********************************** main.handlebars **********************************/
.blognav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #3a5e90;
  border-bottom: 1px solid #e6e6e6
}

.blognav-left {
  padding-left: 32px;
}

.blognav-right {
  padding-right: 32px;
}

.blognav .blognav-left p {
  background-color: #e2d0b7;
  color: #32517d;
  font-weight: 800;
  border-radius: 4px;
}

.blognav-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blognav p {
  padding: 8px 8px;
  color: #e2d0b7;
  font-weight: 600;
}

.blognav a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0px 32px;
  background-color: #b7c9e2;
}

.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
  
/********************************** homepage.handlebars **********************************/
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 8px;
  padding: 8px 0px;
}

.blogPost {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: #808080 solid 2px;
  border-radius: 4px;
  width: 600px;
}

.blogPost-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2d0b7;
  padding: 8px;
  border-bottom: #808080 solid 1px;
}

.blogPost-header a {
  text-decoration: none;
  color: #355683;
}

.blogPost-header a:visited {
  color: #6f93c5;
}

.blogPost-header p {
  font-size: 12px;
}

.blogPost-content {
  padding: 8px;
}

/********************************** blogpost.handlebars **********************************/
.blogpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 8px;
  padding: 8px 0px;
}